apiVersion: k3d.io/v1alpha5
kind: Simple
metadata:
  name: my-production-cluster
servers: 3
agents: 2
image: rancher/k3s:v1.31.5-k3s1
ports:
  - port: 8080:80
    nodeFilters:
      - loadbalancer
  - port: 8443:443
    nodeFilters:
      - loadbalancer
options:
  k3s:
    extraArgs:
      - arg: --disable=traefik
        nodeFilters:
          - server:*
      - arg: --disable=servicelb
        nodeFilters:
          - server:*
  kubeconfig:
    updateDefaultKubeconfig: true
    switchContext: true